.right-to-left {
  animation: rightToLeft 1s forwards;
}

@keyframes rightToLeft {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

.left-to-right {
  animation: leftToRight 1s forwards;
}

@keyframes leftToRight {
  0% {
    transform: translate(-110%);
  }
  100% {
    transform: translate(0);
  }
}
