@import 'tailwindcss';

@theme {
  --color-purple-dark: #493657;
  --color-purple-light: #fcf7ff;
  --color-gray-dark: #878c8f;
  --color-gray-light: #c4cad0;
  --color-teal: #005e66;
  --font-fancy: 'Lavishly Yours';
  --font-body: 'Quicksand';
  --font-header: 'Montserrat';
}

body {
  display: block;
}

h1,
h2,
h3 {
  @apply font-header font-bold;
}

h1 {
  @apply text-3xl md:text-4xl;
}

h2 {
  @apply text-2xl md:text-3xl;
}

h3 {
  @apply text-xl md:text-2xl;
}

h4 {
  @apply font-body text-lg md:text-xl;
}

h5 {
  @apply font-body text-base md:text-lg;
}

p {
  @apply font-body;
}

span {
  @apply font-body;
}

a.link {
  @apply text-teal underline;

  &.inverted {
    @apply text-white no-underline;
  }
}

button {
  @apply cursor-pointer font-bold rounded-full;
  &.primary {
    @apply bg-purple-dark text-white py-2 px-6;
  }
  &.secondary {
    @apply border-2 border-purple-dark text-purple-dark bg-purple-light py-2 px-6;
  }
}

.transform-container {
  transform-box: border-box;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  border-top: 5px solid #493657;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &.small {
    width: 30px;
    height: 30px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
